.meetingName {
  display: inline-block;
  border-radius: 0.8rem;
  padding: 0.1rem 0.8rem;
  background: none;
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
}

.meetingName {
  margin-bottom: 0.4rem;
  margin-right: 0.4rem;
}

.meetingName {
  border: 2px solid rgba(70, 204, 12, 0.6);
}

a.meetingName:hover {
  border-color: rgb(70, 204, 12);
  background-color: rgb(70, 204, 12, 0.2);
  cursor: pointer;
}
