.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--color-text-secondary);
  font-size: 1.8rem;
}

.navigation {
  cursor: pointer;
  color: var(--color-subtle);
  font-size: 2.5rem;
}

.navigation:hover {
  color: var(--color-text-secondary);
}

.disabled,
.disabled:hover {
  color: var(--color-shadow);
  cursor: auto;
}
