.filter {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: sticky;
  top: 10rem;
  background-color: var(--color-bg-sheet-transparent);
  z-index: 20;
}

@media (max-width: 40em) {
  .filter {
    top: 8rem;
  }
}
