.oneRow {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  font-size: 1.4rem;
  flex: 1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  margin: 0;
}

@media (max-width: 640px) {
  .oneRow {
    flex-direction: column;
  }
}
