.oneRow {
  display: flex;
  gap: 1rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
}

.accounts {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.wrapper {
  font-size: 1.4rem;
  flex: 1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  margin: 1rem 1rem 0 1rem;
  padding: 0;
}

.text {
  margin: 1rem;
  padding: 0;
}

@media (max-width: 640px) {
  .oneRow {
    display: block;
  }
}
