@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --constructive: 110 84% 60%;
    --constructive-foreground: 210 40% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --notes-editor: hsl(245, 48%, 24%);
    --notes-margin: 0.2em;
    --notes-heading-mt: 1em;

    --context-color-family: 55 85% 65%;
    --context-color-hobby: 98 80% 62%;
    --context-color-work: 181 80% 62%;
    --context-color-family-secondary: 55 85% 90%;
    --context-color-hobby-secondary: 98 80% 87%;
    --context-color-work-secondary: 181 80% 87%;
    --context-color: hsl(var(--context-color-family));
    --context-color-secondary: hsl(var(--context-color-family-secondary));

    --context-color-family-hover: 55 68% 65%;
    --context-color-hobby-hover: 98 64% 62%;
    --context-color-work-hover: 181 64% 62%;
    --context-color-family-hover-secondary: 55 68% 80%;
    --context-color-hobby-hover-secondary: 98 64% 77%;
    --context-color-work-hover-secondary: 181 64% 77%;
    --context-color-hover: hsl(var(--context-color-family-hover));
    --context-color-hover-secondary: hsl(
      var(--context-color-family-hover-secondary)
    );

    --logo-filter-family: grayscale(100%) sepia(1) hue-rotate(340deg)
      brightness(90%) saturate(400%);
    --logo-filter-hobby: grayscale(100%) sepia(1) hue-rotate(40deg)
      brightness(90%) saturate(400%);
    --logo-filter-work: grayscale(100%) sepia(1) hue-rotate(100deg)
      brightness(90%) saturate(400%);
    --logo-filter: var(--logo-filter-family);

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  .textarea-bottom-line {
    box-shadow: inset 0 -2px 0 hsl(var(--muted));
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
